<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.URBANARC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".User.userhomepagegetCategorywiseproductdetail"
            android:exported="false" />
        <activity
            android:name=".User.UserHomepagecategorywiseproduct"
            android:exported="false" />
        <activity
            android:name=".User.UserhomePageProductPlant"
            android:exported="false" />
        <activity
            android:name=".User.UserHomefragmentproductbed"
            android:exported="false" />
        <activity
            android:name=".User.UserHomepageProductdetailsSofa"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4JYyu79ZVeFByy93trDXCzRFSHPWzUz8" />

        <activity
            android:name=".Admin.AdminAllshoplocationActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_allshoplocation" />
        <activity
            android:name=".Admin.AdminAlluserLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_alluser_location" />
        <activity
            android:name=".Admin.AdminGetUserFeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserFeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDeliveryboydataActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminShopkeeperlistActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminUserfulldataActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdmingetalluserdataActivity"
            android:exported="false" />
        <activity
            android:name=".User.GetCattegoryWiseProductActivity"
            android:exported="false" />
        <activity
            android:name=".User.ContactuspageActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.ShopkeeperUsedrnamecheckforemailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.ShopkeeperEmailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.ShopkeeperdetailsupdateActivity"
            android:exported="false" />
        <activity
            android:name=".User.UseremailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".User.UsercheckusernamefoeemailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".User.userEditprofilActivity"
            android:exported="false" />
        <activity
            android:name=".Delivery.deliveryMyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.adminMyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.ShopkeepermyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".User.userMyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.shopkeeperpasswordupdationverificationActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.shopkeeperpasswordupdateActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.shopkeepernumbercheckActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.ShopkeeperhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".Shopkeeper.shopkeeperregisterverificationActivity"
            android:exported="false" />
        <activity
            android:name=".User.userhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".User.optverificationforpasswordupdateActivity"
            android:exported="false" />
        <activity
            android:name=".User.userupdatepasswordActivity"
            android:exported="false" />
        <activity
            android:name=".User.usernumbercheckforforgottenpassworrd"
            android:exported="false" />
        <activity
            android:name=".User.userregisterverificationActivity"
            android:exported="false" />
        <activity
            android:name=".Delivery.deliveryhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".Admin.adminhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".Shopkeeper.shopkeeperregistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Delivery.loginfordeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.loginforadminActivity"
            android:exported="false" />
        <activity
            android:name=".Shopkeeper.loginforshopkeeperActivity"
            android:exported="false" />
        <activity
            android:name=".User.userregistrationActivity"
            android:exported="false" />
        <activity
            android:name=".User.loginforcustomerActivity"
            android:exported="false" />
        <activity
            android:name=".signupActivity"
            android:exported="false" />
        <activity
            android:name=".welcomescreenActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>