<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.URBANARC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".GetCattegoryWiseProductActivity"
            android:exported="false" />

        <activity
            android:name=".ContactuspageActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperUsedrnamecheckforemailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperEmailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperdetailsupdateActivity"
            android:exported="false" />
        <activity
            android:name=".UseremailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".UsercheckusernamefoeemailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".userEditprofilActivity"
            android:exported="false" />
        <activity
            android:name=".deliveryMyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".adminMyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeepermyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".userMyprofilActivity"
            android:exported="false" />
        <activity
            android:name=".shopkeeperpasswordupdationverificationActivity"
            android:exported="false" />
        <activity
            android:name=".shopkeeperpasswordupdateActivity"
            android:exported="false" />
        <activity
            android:name=".shopkeepernumbercheckActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".shopkeeperregisterverificationActivity"
            android:exported="false" />
        <activity
            android:name=".userhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".optverificationforpasswordupdateActivity"
            android:exported="false" />
        <activity
            android:name=".userupdatepasswordActivity"
            android:exported="false" />
        <activity
            android:name=".usernumbercheckforforgottenpassworrd"
            android:exported="false" />
        <activity
            android:name=".userregisterverificationActivity"
            android:exported="false" />
        <activity
            android:name=".deliveryhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".adminhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".shopkeeperregistrationActivity"
            android:exported="false" />
        <activity
            android:name=".loginfordeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".loginforadminActivity"
            android:exported="false" />
        <activity
            android:name=".loginforshopkeeperActivity"
            android:exported="false" />
        <activity
            android:name=".userregistrationActivity"
            android:exported="false" />
        <activity
            android:name=".loginforcustomerActivity"
            android:exported="false" />
        <activity
            android:name=".signupActivity"
            android:exported="false" />
        <activity
            android:name=".welcomescreenActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>